@use 'element-plus/theme-chalk/src/display';
@use 'element-plus/theme-chalk/src/index';
@use './root.scss';
@use './dark.scss';
@use './login.scss';

@mixin nprogress {
  /* 进度条样式重写 */
  #nprogress {
    /* fix: 修复进度条结束之后，又渲染了一小段 */
    position: fixed;
    z-index: 2000;
    .bar {
      background: var(--el-color-primary) !important;
      border-radius: 50px;

      .peg {
        box-shadow:
          0 0 10px var(--el-color-primary),
          0 0 5px var(--el-color-primary) !important;
      }
    }
  }
}

@mixin sim-aside {
  .sim-aside {
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: var(--el-default-animation);
    border-right: 1px solid var(--el-border-color-light);
    background-color: var(--el-bg-color);
    &--title {
      .sim-logo {
        height: var(--el-logo-height);
        width: 100%;
        transition: var(--el-default-animation);
      }
    }
    .sim-scroll--bar {
      height: calc(100vh - var(--el-logo-height));
      .sim-menu {
        border-right: none !important;
        background-color: var(--el-bg-color);
      }
    }
  }
}

@mixin sim-content {
  .sim-content {
    min-height: 100%;
    margin-left: var(--el-aside-width);
    position: relative;
    width: var(--el-content-width);
    transition: var(--el-default-animation);
  }
}

@mixin menu-radius {
  border-radius: 6px;
}

html {
  @include nprogress();
  img {
    object-fit: cover;
  }
  .sim-theme-set {
    .el-drawer__body {
      padding: 0;
    }
  }

  // 菜单模式--线条
  .menu-mode-line {
    &.is-active {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: var(--el-color-primary);
        border-radius: 0 10px 10px 0;
      }
    }
  }

  // 菜单模式--卡片
  .menu-mode-card {
    @include menu-radius();
    .el-sub-menu__title {
      @include menu-radius();
    }
    &.is-active {
      background-color: var(--el-color-primary);
      color: var(--el-color-white);
      .sim-icon i {
        color: var(--el-color-white) !important;
      }
    }
  }

  // 菜单模式--箭头
  .menu-mode-arrow {
    &.is-active {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        border: 8px solid transparent;
        transform: translateY(-50%);
        border-right-color: var(--el-color-primary);
      }
    }
  }

  // 缩放下的菜单间隔
  .collapse-menu-space {
    margin: 0 10px;
  }

  // 普通，浮动模式的缩放菜单公共样式
  .collapse-common-menu {
    .el-menu {
      @extend .collapse-menu-space;
    }
    &.sim-mode {
      &-line {
        .el-sub-menu,
        .el-menu-item {
          @extend .menu-mode-line;
          &.is-active {
            &::before {
              left: -10px;
            }
          }
        }
      }
      &-card {
        .el-sub-menu,
        .el-menu-item {
          @extend .menu-mode-card;
        }
      }
      &-arrow {
        .el-sub-menu,
        .el-menu-item {
          position: relative;
          @extend .menu-mode-arrow;
          &.is-active {
            &::after {
              right: -10px;
            }
          }
        }
      }
    }
  }

  .collapse-common-width {
    --el-aside-width: 84px;
    --el-logo-height: 60px;
  }

  .border {
    border: 1px solid var(--el-border-color);
    &-card-radius {
      border-radius: 4px;
    }
  }

  body {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: var(--el-font-size-base);
    color: var(--el-color-black);
    background: var(--el-body-bg-color);
    #root {
      height: 100%;

      .sim-router--container {
        padding: var(--el-padding-sapce-large);
        overflow: hidden;
        transition: var(--el-default-animation);

        [class*='-container'] {
          min-height: var(--el-keep-alive-height);
          padding: var(--el-padding-sapce-large);
          background: var(--el-bg-color);
          transition: var(--el-transition);
          @extend .border;
        }

        .sim-footer {
          text-align: center;
          padding: var(--el-padding-sapce-large);
          margin-top: var(--el-padding-sapce-large);
          background: var(--el-color-white);
          transition: var(--el-transition);
          @extend .border;
        }
      }
      .is-collapse {
        @extend .collapse-common-width;
        .sim-logo {
          object-fit: initial !important;
        }
      }

      .el-sub-menu,
      .el-menu-item,
      .el-sub-menu__title {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      // 常规布局
      .sim-layout-ordinary {
        height: 100%;
        @include sim-aside();
        @include sim-content();
        &.sim-mode {
          &-line {
            .el-menu-item {
              @extend .menu-mode-line;
            }
          }
          &-card {
            .el-menu {
              @extend .collapse-menu-space;
            }
            .el-sub-menu__title {
              @include menu-radius();
            }
            .el-menu-item {
              @extend .menu-mode-card;
            }
          }
          &-arrow {
            .el-menu-item {
              @extend .menu-mode-arrow;
            }
          }
        }

        // 缩放侧边栏
        &.is-collapse {
          @extend .collapse-common-menu;
        }
      }

      // 浮动布局
      .sim-layout-float {
        height: 100%;
        @extend .collapse-common-width;
        --el-content-width: calc(100% -var(--el-aside-width));
        @include sim-aside();
        @include sim-content();
        @extend .collapse-common-menu;
      }

      // 横向布局
      .sim-layout-row {
        --el-logo-height: 60px;

        .sim-header {
          border-bottom: 1px solid var(--el-border-color-light);

          &--container {
            padding: 4px 0;
            border-bottom: 1px solid var(--el-border-color-light);
          }

          .sim-logo {
            height: var(--el-logo-height);
            width: 100%;
            transition: var(--el-default-animation);
          }
          .sim-menu {
            border-bottom: none;
            .el-sub-menu,
            .el-menu-item {
              margin-bottom: 0;
            }
          }
        }

        &.sim-mode {
          &-card {
            .el-sub-menu__title,
            .el-sub-menu,
            .el-sub-item {
              @include menu-radius();
            }
            .el-sub-menu,
            .el-sub-item {
              @extend .menu-mode-card;
              &.is-active {
                .el-sub-menu__title {
                  color: var(--el-color-white) !important;
                  border-bottom: none;
                  &:hover {
                    background-color: var(--el-color-primary);
                    color: var(--el-color-white);
                  }
                }
              }
            }
          }

          &-arrow {
            .el-sub-menu,
            .el-sub-item {
              @extend .menu-mode-arrow;
              &.is-active {
                .el-sub-menu__title {
                  border-bottom: none;
                }
                &::after {
                  border: 8px solid transparent;
                  border-bottom-color: var(--el-color-primary);
                  bottom: -2px;
                  right: 50%;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
      }

      // tabs
      .sim-tabs {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        height: var(--el-tab-height);
        padding: 0 var(--el-padding-sapce);
        border-bottom: 1px solid var(--el-border-color-light);
        .el-tabs__header,
        .el-tabs__nav,
        .el-tabs__item {
          border: none;
        }
        .el-tabs__header {
          margin-bottom: 0;
        }

        .el-tabs__item {
          padding: 0 var(--el-padding-sapce);
          &:not(:last-of-type) {
            margin-right: 4px;
          }
          &:hover,
          &.is-active {
            background-color: var(--el-color-primary-light-9);
            transition: var(--el-default-animation);
            .sim-icon {
              i {
                color: var(--el-color-primary) !important;
              }
            }
          }
        }

        &.sim-tabs {
          &-default {
            .el-tabs__item {
              &:hover,
              &.is-active {
                background-color: transparent;
              }
            }
          }

          &-card {
            .el-tabs__item {
              height: 32px;
              border-radius: 4px;
              @extend .border;

              &:hover,
              &.is-active {
                border-color: var(--el-color-primary);
              }
            }
          }

          &-line {
            .el-tabs__item {
              border-bottom: 2px solid transparent;
              background-color: transparent;
              &:hover,
              &.is-active {
                transition: all 0.3s ease-out;
                border-color: var(--el-color-primary);
              }
            }
          }

          &-smart {
            .el-tabs__item {
              border-radius: 8px 8px 0 0;
              position: relative;
              height: 32px;
              &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: transparent;
                transition: all 0.3s;
              }
              &.is-active,
              &:hover {
                &::after {
                  width: 100%;
                  background: var(--el-color-primary);
                }
              }
            }
          }
        }

        .tab-menu {
          position: fixed;
          z-index: 500;
          list-style: none;
          padding: 0;
          border-radius: 6px;
          z-index: 199;
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          background-color: var(--el-bg-color);
          li {
            padding: 10px 20px;
            font-size: var(--el-font-size-base);
            color: var(--el-text-color-regular);
            &:hover {
              cursor: pointer;
              background: var(--el-color-primary-light-9);
            }
          }
        }
      }
    }
  }
}

/* 路由动画 */
.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

/* 缩放*/
.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.98);
}
