@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin login-form {
  .sim-form {
    position: relative;
    padding-top: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s;
    position: relative;

    &--input {
      height: 50px;
      :deep(.el-input__wrapper) {
        box-shadow: none;
        background-color: #f3f8fe;
      }
    }

    .sim-code--row {
      display: flex;
      flex: 1;
      align-items: center;
      .code-image {
        min-width: 120px;
        height: 100%;
        height: 50px;
        background-color: #f3f8fe;
        margin-left: 14px;
        cursor: pointer;
        &#sim-code {
          display: none;
        }
      }
    }

    &--tools {
      :deep(.el-form-item__content) {
        justify-content: space-between;
      }
    }

    &--submit {
      width: 100%;
      height: 50px;
      border: none;
    }

    .sim-divider {
      margin: 30px auto 0;
      color: var(--el-color-primary);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        padding: 0 14px;
      }

      .line {
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: var(--el-color-primary-light-8);
      }
    }

    .svg-container {
      margin: 30px auto 0;
      display: flex;
      justify-content: space-evenly;

      .login-image {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}

.login {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-center();

  &-container {
    width: 90%;
    height: 90%;
    margin: auto;
    @include flex-center();
    justify-content: space-between;
    &--logo {
      width: 50%;
    }

    &--content {
      width: 35%;
      @include flex-center();
      justify-content: center;
      flex-direction: column;
      .logo {
        width: 80%;
        height: 100px;
        object-fit: cover;
      }

      @include login-form();
    }
  }
}

@media only screen and (max-width: 768px) {
  .login {
    .login-container {
      &--logo {
        display: none;
      }
      &--content {
        width: 90%;
        margin: auto;
        .sim-form {
          padding: 2em;
        }
      }
    }
  }
}
