// 全局主题变量

$sim-color-primary: #4c7cc3;
$sim-color-success: #67c23a;
$sim-color-warning: #e6a23c;
$sim-color-danger: #f56c6c;
$sim-color-error: #ba1c1c;
$sim-color-info: #909399;
$sim-color-text: #303133;
$sim-color-white: #ffffff;
$sim-color-black: #303133;

$sim-bg-color: #ffffff;

$sim-default-animation:
  all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
  border 0s,
  color 0.2s,
  font-size 0s;

// 主色
$sim-color-primary-light-1: rgba($sim-color-primary, 0.9);
$sim-color-primary-light-2: rgba($sim-color-primary, 0.8);
$sim-color-primary-light-3: rgba($sim-color-primary, 0.7);
$sim-color-primary-light-4: rgba($sim-color-primary, 0.6);
$sim-color-primary-light-5: rgba($sim-color-primary, 0.5);
$sim-color-primary-light-6: rgba($sim-color-primary, 0.4);
$sim-color-primary-light-7: rgba($sim-color-primary, 0.3);
$sim-color-primary-light-8: rgba($sim-color-primary, 0.2);
$sim-color-primary-light-9: rgba($sim-color-primary, 0.1);

// success
$sim-color-success-light-1: rgba($sim-color-success, 0.9);
$sim-color-success-light-2: rgba($sim-color-success, 0.8);
$sim-color-success-light-3: rgba($sim-color-success, 0.7);
$sim-color-success-light-4: rgba($sim-color-success, 0.6);
$sim-color-success-light-5: rgba($sim-color-success, 0.5);
$sim-color-success-light-6: rgba($sim-color-success, 0.4);
$sim-color-success-light-7: rgba($sim-color-success, 0.3);
$sim-color-success-light-8: rgba($sim-color-success, 0.2);
$sim-color-success-light-9: rgba($sim-color-success, 0.1);

// warning
$sim-color-warning-light-1: rgba($sim-color-warning, 0.9);
$sim-color-warning-light-2: rgba($sim-color-warning, 0.8);
$sim-color-warning-light-3: rgba($sim-color-warning, 0.7);
$sim-color-warning-light-4: rgba($sim-color-warning, 0.6);
$sim-color-warning-light-5: rgba($sim-color-warning, 0.5);
$sim-color-warning-light-6: rgba($sim-color-warning, 0.4);
$sim-color-warning-light-7: rgba($sim-color-warning, 0.3);
$sim-color-warning-light-8: rgba($sim-color-warning, 0.2);
$sim-color-warning-light-9: rgba($sim-color-warning, 0.1);

// danger
$sim-color-danger-light-1: rgba($sim-color-danger, 0.9);
$sim-color-danger-light-2: rgba($sim-color-danger, 0.8);
$sim-color-danger-light-3: rgba($sim-color-danger, 0.7);
$sim-color-danger-light-4: rgba($sim-color-danger, 0.6);
$sim-color-danger-light-5: rgba($sim-color-danger, 0.5);
$sim-color-danger-light-6: rgba($sim-color-danger, 0.4);
$sim-color-danger-light-7: rgba($sim-color-danger, 0.3);
$sim-color-danger-light-8: rgba($sim-color-danger, 0.2);
$sim-color-danger-light-9: rgba($sim-color-danger, 0.1);

// error
$sim-color-error-light-1: rgba($sim-color-error, 0.9);
$sim-color-error-light-2: rgba($sim-color-error, 0.8);
$sim-color-error-light-3: rgba($sim-color-error, 0.7);
$sim-color-error-light-4: rgba($sim-color-error, 0.6);
$sim-color-error-light-5: rgba($sim-color-error, 0.5);
$sim-color-error-light-6: rgba($sim-color-error, 0.4);
$sim-color-error-light-7: rgba($sim-color-error, 0.3);
$sim-color-error-light-8: rgba($sim-color-error, 0.2);
$sim-color-error-light-9: rgba($sim-color-error, 0.1);

// info
$sim-color-info-light-1: rgba($sim-color-info, 0.9);
$sim-color-info-light-2: rgba($sim-color-info, 0.8);
$sim-color-info-light-3: rgba($sim-color-info, 0.7);
$sim-color-info-light-4: rgba($sim-color-info, 0.6);
$sim-color-info-light-5: rgba($sim-color-info, 0.5);
$sim-color-info-light-6: rgba($sim-color-info, 0.4);
$sim-color-info-light-7: rgba($sim-color-info, 0.3);
$sim-color-info-light-8: rgba($sim-color-info, 0.2);
$sim-color-info-light-9: rgba($sim-color-info, 0.1);

// logo 高度
$sim-logo-height: 100px;
// header高度
$sim-header-height: 60px;
// tab高度
$sim-tab-height: 40px;

// 侧边栏
$sim-sider-width: 260px;
// 右侧内容
$sim-content-width: calc(100% - var($sim-sider-width));

// 顶栏
$sim-header-height: 50px;

// 页脚
$sim-footer-height: 50px;

$sim-padding-sapce: 14px;
